//------------------------------------
//  components.breadcrumb
//------------------------------------

$name: 'breadcrumb';
//------------------------------------

.#{$name} {
	padding: 15px 0;

	ul {
		margin: 0;
		padding: 10px 10px 5px 10px;
		list-style: none;
		border: 1px solid #E0E1E2;
		border-radius: 4px;
		background: #fff;
		@include clearfix();
	}
}

.#{$name}__leaf {
	float: left;
	display: inline-block;
	margin: 0 5px 5px 0;

	[class*='icon'] {
		font-size: 12px;
		color: #aaa;
	}
}

.#{$name}__leaf.s--active {
	.#{$name}__decorator {
		margin: 0 5px 0 0;
		color: #f5930f;
		border-color: #f5930f;
	}
}

.#{$name}__decorator {
	padding: 2px 6px;
	border: 1px solid transparent;
	border-radius: 5px;
}
