//------------------------------------
//  components.nav
//------------------------------------

$name: 'nav';

.#{$name} {
	margin: 0 auto;
	padding: 0;
	@include clearfix();
}

.#{$name}__item {
	display: inline-block !important;
	margin: 0;

	a {
		display: block;
		position: relative;
		padding: 20px 15px;
		line-height: 20px;
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		@include font(map-get($fonts, 'secondary'), 12px);

		&:hover {
			background-color: #f9f9f9;
			text-decoration: none;
		}

		&:focus {
			text-decoration: none;
		}
	}
}

.#{$name}--tabs {
	text-align: center;

	.#{$name}__item {
		a {
			position: relative;
			padding: 20px 15px;

			&:before {
				display: block;
				content: " ";
				position: absolute;
				top: 50px;
				left: 50%;
				margin-left: -15px;
			}

			@include max-screen(map-get($mq, 'md')) {
				font-size: 10px;
				padding-left: 10%;
				padding-right: 10%;
			}
		}

		&.s--active {
			a {
				&:before {
					@include triangle(15px, white, 'up');
				}
			}
		}

		&.s--disabled {
			opacity: 0.2;
		}
	}
}
