//------------------------------------
//  components.panel
//------------------------------------

$name: 'panel';
//------------------------------------

.#{$name} {
	margin: 15px 0;
	padding: 0;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
}

.#{$name}__header {
	padding: 6px;
	background: #F3F6F9;
	text-align: center;
	border-bottom: 1px solid #E0E0E0;
	border-radius: 4px 4px 0 0;

	> * {
		margin: 0;
		padding: 0;
		font-size: 23px;
		@include max-screen(map-get($mq, 'md')) {
			font-size: 19px;
			line-height: 1.4;
			letter-spacing: 0;
			text-transform: none;
		}
	}
}

.#{$name}__content {
	padding: 15px 20px;
}
