//------------------------------------
//  objects.col
//------------------------------------


$name: 'col';
$gutter: map-get($layout, 'gutter');
//------------------------------------

.#{$name} {
	position: relative;
	top: 0;
	left: 0;
  float: left;
  width: 100%;
  min-height: 1px;
	padding-left: #{$gutter};
	padding-right: #{$gutter};
  margin-left: 0;
	margin-right: 0;
}

.#{$name} + .#{$name} {
	&--end {
		float: left;
	}
}

.#{$name}--equal {
	@include equal-height();
}

.#{$name}--centered {
	float: none !important;
	margin-left: auto;
	margin-right: auto;

	> * {
		margin-left: auto;
		margin-right: auto;
	}
}

.#{$name}--right {
	float: right !important;
	right: 0 !important;
	margin: 0;
}


