//------------------------------------
//  objects.divider
//------------------------------------

$name: 'divider';
//------------------------------------


.#{$name} {
	clear: both;
	width: 100%;
	margin: 15px 0;
	line-height: 1em;

	ul > &:last-child {
		display: none;
	}
}

.#{$name}__child {
	display: inline-block;
	width: 20%;
	line-height: 1em;
	@include margin(0 auto);
}

.#{$name}--center {
	text-align: center;
}

.#{$name}--solid {
	border-style: solid;
}

.#{$name}--dashed {
	border-style: dashed;
}

.#{$name}--dotted {
	border-style: dotted;
}

.#{$name}--double {
	border-top-width: 2px;
	border-bottom-width: 2px;
	height: 6px;
}

.#{$name}--thick {
	border-bottom-width: 6px;

	&__child {
		height: 4px;
	}
}

.#{$name}--thin {
	border-bottom-width: 1px;

	&__child {
		height: 1px;
	}
}
