//------------------------------------
//  objects.form
//------------------------------------

$name: 'form';
//------------------------------------

.#{$name} {
	margin: 0;
	padding: 15px 0 0 0;
	border-radius: 4px;

	::-webkit-input-placeholder {
		opacity: 1;
		@include rem(font-size, 1rem);
	}

	:-moz-placeholder {
		opacity: 1;
		@include rem(font-size, 1rem);
	}

	:-ms-input-placeholder {
		opacity: 1;
		@include rem(font-size, 1rem);
	}

	:focus {
		outline: none;
	}

	p {
		margin-top: 0;
	}

	.date {
		width: 100%;

		.input-group-addon {
			color: #898D90;
			border-left: none;
			padding: 6px 8px;
			border-radius: 0 4px 4px 0;

			& ~ .icon {
				right: 41px;
			}
		}
	}
}

// input
// ---------------------------
.#{$name}__input {
	&:not(.btn) {
		display: block;
		width: 100%;
		height: 36px;
		padding-right: 36px;
		line-height: 1.42857143;
		border: 1px solid;
		border-radius: 3px;
		transition: all 0.2s linear;
		@include rem(font-size, 0.95rem);

		&:not(select) {
			padding: 6px 12px;
		}
	}

	&:focus {
		outline: none;
		border-width: 1px;
		border-style: solid;
	}

	& ~ *:not(.help-block) {
		cursor: pointer;
	}
}

// select
// ---------------------------
select.#{$name}__input {
	width: 100%;
	user-select: none;
	appearance: none;
	border: 1px solid #C4CED8;
	padding: 0 60px 0 15px;

	&:hover {
		cursor: pointer;
	}

	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #000;
	}
}

// textarea
// ---------------------------
textarea.#{$name}__input {
	height: auto;
	min-height: 120px;
	@include max-screen(map-get($mq, 'md')) {
		margin-bottom: 15px;
	}
}

// item
// ---------------------------
.#{$name}__item {
	margin-bottom: 0;

	&--checkbox {
		.#{$name}__field {
			width: 5%;
		}

		.#{$name}__label {
			width: 88%;
			margin-left: 0;
			margin-right: 0;
		}
	}

	.s--highlight {
		color: #0081D4 !important;
		background: #F9FCFF !important;
		border-color: #A9C2D2 !important;
	}

	&.s--feedback {
		position: relative;
		top: 0;
		//right: 15px !important;
		font-size: 15px;

		&--error,
		&--warning {
			.icon {
				&:before {
					content: '\e6c5';
				}
			}
		}

		&--success {
			.icon {
				&:before {
					content: '\e64c';
				}
			}
		}
	}
}

// fake-errors
// ---------------------------
.#{$name}__fake-errors {
	margin: 5px 0;
}

// label
// ---------------------------
.#{$name}__label {
	line-height: 1.5em;
	vertical-align: middle;
	font-size: 16px;
	margin: 0 0 5px 0;
	@include max-screen(map-get($mq, 'md')) {
		margin-bottom: 5px;
	}

	label {
		font-size: 14px;
	}

	&--helper {
		margin-bottom: 10px;
		line-height: 1.2em;

		label {
			line-height: 1em;
		}

		.#{$name}__helper {
			opacity: .65;
			line-height: 1em;
			font-size: 12px;
			@include max-screen(map-get($mq, 'md')) {
				margin-bottom: 10px;
			}
		}
	}
}

// title

.#{$name}__title {
	text-shadow: none;
	line-height: 1.8em;
	margin-bottom: 10px;
	@include rem(font-size, 2.1rem);
}

// group
// ---------------------------
.#{$name}__group {
	position: relative;
}

// helper
// ---------------------------
.#{$name}__helper {
	display: block;
	font-weight: 600;
	margin: 0;
}

// field
// ---------------------------
.#{$name}__field {
	position: relative;
	margin: 0 0 15px 0;

	.icon {
		position: absolute;
		top: 6px;
		right: 12px;
		display: inline-block;
		pointer-events: none;
		font-size: 16px;
		@include z(top, top);

		&:before {
			font-family: 'icon--themify';
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			@include font-smoothing();
		}
	}

	.input-group-addon {
		color: #9BA4AD;
		background-color: #F9FBFD;
		border-color: #C4CED8;
	}

	.errors {
		display: block;
		list-style: none;
		margin: 7px 0 0 0;
		padding: 0;
	}

	.help-block {
		line-height: 1.4em;
	}

	&.col {
		.icon {
			right: 25px;
		}

		&.#{$name}__field--select {
			&:before {
				right: 45px;
			}

			&:after {
				right: 25px;
			}

			#{$name}__input {
				padding-right: 80px;
			}

			.icon {
				width: 45px;

				&:after {
					right: -9px;
				}
			}
		}
	}
}

.#{$name}--select {
	display: block;
	vertical-align: middle;

	&:hover {
		cursor: pointer;

		&:before {
			display: none;
		}
	}

	&:before {
		position: absolute;
		top: 1px;
		right: 20px;
		content: '';
		pointer-events: none;
		width: 45px;
		height: 34px;
		@include linear-gradient(to right, rgba(white, 0), white);
	}

	&:after {
		position: absolute;
		top: 16px;
		right: 11px;
		bottom: auto;
		left: auto;
		content: '';
		pointer-events: none;
		border-color: #9BA4AD transparent transparent transparent;
		border-style: solid;
		border-width: 5px 5px 0 5px;
		@include z(bottom, top);
	}

	.icon {
		position: absolute;
		right: 31px;
		width: 25px;

		&:after {
			position: absolute;
			top: -5px;
			right: -29px;
			content: '';
			pointer-events: none;
			width: 30px;
			height: 34px;
			background: #F9FBFD;
			border-left: 1px solid #C4CED8;
			border-radius: 0 4px 4px 0;
			@include z(bottom, bottom);
		}
	}
}

.#{$name}--datepicker {
	.date {
		display: block;

		input {
			width: calc(100% - 32px);
			float: left;
		}

		.input-group-addon {
			max-width: 30px;
			padding: 9px;
			border-left: none;
			border-radius: 0 4px 4px 0;
		}

		.icon {
			right: 40px;
		}
	}
}

// errors
// ---------------------------
.#{$name}__errors,
.#{$name}__messages {
	margin-bottom: 20px;
	padding: 8px;
	text-align: center;
	border: 1px solid;
	border-radius: 4px;
	@include rem(font-size, 1.6rem);

	&:empty {
		display: none;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 3px 0;
		}
	}
}

// btn
// ---------------------------
.#{$name}__btn {
	margin-bottom: 5px;

	.btn {
		display: block;
		width: 100%;
		text-transform: uppercase;
		letter-spacing: 1px;
		text-align: center;
		@include font(map-get($fonts, 'secondary'), 0.95rem);
		@include max-screen(map-get($mq, 'sm')) {
			width: 100% !important;
			margin: 0;
		}

		&:hover {
			text-decoration: none;
		}
	}

	& + & {
		margin-top: 15px;
	}
}

// header
// ---------------------------
.#{$name}__header {
	background: #fafbfc;
	padding: 15px;

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}
}

// upload
// ---------------------------
.#{$name}__upload {
	position: relative;
	display: block;
	width: 100%;
	line-height: 20px;
	height: 45px;
	padding: 10px 15px;
	border-radius: 3px;
	@include clearfix();
	@include max-screen(map-get($mq, 'md')) {
		margin-bottom: 8px;
	}
	@include max-screen(map-get($mq, 'xs')) {
		height: auto;
		padding: 0;
	}

	&:hover {
		cursor: pointer;
	}

	&--label {
		position: absolute;
		top: -1px;
		left: -1px;
		display: block;
		float: left;
		width: 20%;
		height: 45px;
		padding: 10px 30px;
		line-height: 25px;
		background: #596B84;
		color: #fff;
		text-shadow: none;
		text-align: center;
		border-radius: 4px 0 0 4px;
		@include z('global', 'middle');
		@include max-screen(map-get($mq, 'sm')) {
			display: none;
		}
	}

	.#{$name}__fake-input {
		position: absolute;
		top: -1px;
		left: 0;
		float: left;
		width: 70%;
		height: 45px;
		padding-left: 21%;
		background-color: transparent !important;
		border: 1px solid;
		border-radius: 3px;
		@include max-screen(map-get($mq, 'sm')) {
			width: 60%;
			padding: 0;
		}
		@include max-screen(map-get($mq, 'xs')) {
			position: static;
			float: none;
			width: 100%;
			margin-bottom: 15px;
		}

		.text {
			display: block;
			height: 100%;
			font-size: 16px;
			line-height: 40px;
			padding: 0 15px;
		}
	}

	.#{$name}__field {
		position: absolute;
		top: 1px;
		left: 1px;
		opacity: 0;
		float: left;
		width: 70%;
		height: 40px;
		background-color: transparent !important;
		@include z('global', 'top');
		@include max-screen(map-get($mq, 'sm')) {
			width: 60%;
		}
	}

	.#{$name}__input {
		height: 40px;
		background-color: transparent !important;
		border-color: transparent !important;
		box-shadow: none !important;
		line-height: 1;
		opacity: 0;
		cursor: pointer;
		padding: 10px;

		&:focus, &:active, &:hover {
			outline: none !important;
			box-shadow: none !important;
			border-color: transparent !important;
			cursor: pointer;
		}
	}

	.#{$name}__btn {
		position: absolute;
		top: -1px;
		right: -1px;
		float: right;
		width: 30%;
		@include max-screen(map-get($mq, 'sm')) {
			width: 40%;
		}
		@include max-screen(map-get($mq, 'xs')) {
			position: static;
			float: none;
			width: 100%;
		}

		&:hover {
			cursor: pointer;
		}

		.btn {
			height: 45px;
			border-radius: 0 4px 4px 0;
			@include max-screen(map-get($mq, 'sm')) {
				margin: 0;
			}
			@include max-screen(map-get($mq, 'xs')) {
				border-radius: 4px;
			}
		}
	}
}
