//------------------------------------
//  objects.heading
//------------------------------------

$name: 'heading';
//------------------------------------


#{$name}__title {
	margin-top: 15px;
	margin-bottom: 0;
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1.3;
	font-weight: 500;
	@include font(map-get($fonts, 'third'), 32px, null, 400);
}

#{$name}__subtitle {
	margin-top: 10px;
	line-height: 1.3;
	@include font(map-get($fonts, 'third'), 24px, null, 400);
}
