//------------------------------------
//  objects.icon
//------------------------------------

$name: 'icon';
//------------------------------------

.#{$name} {
	display: inline-block;
	font-size: 64px;
}

.#{$name}--xxs {
	font-size: map-get($text, xxs);
}

.#{$name}--xs {
	font-size: map-get($text, xs);
}

.#{$name}--sm {
	font-size: map-get($text, sm);
}

.#{$name}--md {
	font-size: map-get($text, md);
}

.#{$name}--lg {
	font-size: map-get($text, lg);
}

.#{$name}--xl {
	font-size: map-get($text, xl);
}

.#{$name}--circle {
	padding: 12%;
	border: 1px solid rgba(white, .5);
	border-radius: 50%;
}
