//------------------------------------
//  objects.img
//------------------------------------

$name: 'img';
//------------------------------------


#{$name}--responsive {
	width: 100% !important;
}

#{$name}--cover {
	position: relative;
	width: 100%;
	height: 100%;

	&__child {
		width: 100%;
		height: 100%;
		display: block;
		background-position: top;
		background-size: cover;
	}
}
