//------------------------------------
//  objects.list
//------------------------------------

$name: 'list';
//------------------------------------

.#{$name}--group {
	&__item {
		position: relative;
		display: inline-block;
		margin: 0 auto -1px auto;
		padding: 10px 15px;
	}
}

.#{$name}--horizontal {
	li {
		display: inline-block;
	}
}
