//------------------------------------
//  objects.overlay
//------------------------------------

$name: 'overlay';
//------------------------------------

.#{$name} {
	position: relative;
}

.#{$name}__child {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background: rgba(black, .5);
	@include z('top', 'bottom');
}

.#{$name}--white {
	background: rgba(white, .5);
}

.#{$name}--transparent {
	background: transparent;
}

.#{$name}.s--active {
	display: block;
}
