//------------------------------------
//   objects.position
//------------------------------------

$name: 'position';
//------------------------------------

.#{$name}--l {
	float: left !important;
	left: 0 !important;
}

.#{$name}--r {
	float: right !important;
	right: 0 !important;
}
