//------------------------------------
//  objects.row
//------------------------------------

$name: 'row';
$gutter: map-get($layout, 'gutter');

.#{$name} {
	width: map-get($layout, 'width');
	margin: 0 auto;
	@include clearfix();

	.#{$name} {
		width: auto;
		max-width: none;
		margin-right: #{-$gutter};
		margin-left: #{-$gutter};
		@include clearfix();

		&--collapse {
			@include clearfix();
		}
	}

	&--collapse {
		.#{$name} {
			margin-right: 0;
			margin-left: 0;
		}

		> .col {
			margin-right: 0;
			margin-left: 0;
		}
	}
}
