//------------------------------------
//  objects.space
//------------------------------------

$name: 'space';

.#{$name} {
	display: block;
	width: 100%;
	@include clearfix();
}

@include generate-space($name, $name);
