//------------------------------------
//  objects.text
//------------------------------------

$name: 'text';
//------------------------------------


.#{$name}--left {
	text-align: left !important;
}

.#{$name}--right {
	text-align: right !important;
}

.#{$name}--center {
	text-align: center !important;
}

.#{$name}--justify {
	text-align: justify !important;
}

// text--decoration
//------------------------------------
.#{$name}--antialiased {
	@include font-smoothing();
}

.#{$name}--ellipsis {
	position: relative;
	top: 0;
	left: 0;
	line-height: 1.5;
	max-height: 3em;
	overflow: hidden;

	&__dots {
		position: absolute;
		right: 0;
		bottom: 0;
		background: #fff;
	}

	&__fill {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: #fff;
	}
}

// sizes
//------------------------------------
.#{$name}--xxs {
	font-size: map-get($text, 'xxs');
}

.#{$name}--xs {
	font-size: map-get($text, 'xs');
}

.#{$name}--sm {
	font-size: map-get($text, 'sm');
}

.#{$name}--md {
	font-size: map-get($text, 'md');
}

.#{$name}--lg {
	font-size: map-get($text, 'lg');
}

.#{$name}--xl {
	font-size: map-get($text, 'xl');
}
