//------------------------------------
//  $Form
//------------------------------------

$name: 'form';
$prefix: map-get($class-prefix, 'object');
$class: #{$prefix}#{$name};

.#{$class} {
  @include margin(0);
  @include padding(15px 0 0 0);
  @include border-radius(4px);

  ::-webkit-input-placeholder {
    opacity: 1;
    @include rem(font-size, 1rem);
  }

  :-moz-placeholder,
  ::-moz-placeholder {
    opacity: 1;
    @include rem(font-size, 1rem);
  }

  :-ms-input-placeholder {
    opacity: 1;
    @include rem(font-size, 1rem);
  }

  :focus {
    outline: none;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    color: #6C7079;
    background: #FFF;
    @include linear-gradient(to bottom, #FFF 0%, #fefefe 49%, #fdfdfd 49%, #fefefe 100%);
  }

  p {
    @include margin(0 null null null);
  }

  @at-root {

    .input-group {
      &.date {
        width: 100%;

        .input-group-addon {
          color: #898D90;
          border-left: none;
          @include padding(6px 8px);
          @include border-radius(0 4px 4px 0);

          & ~ .o--icon {
            right: 41px;
          }
        }
      }
    }

    #{&}__input {
      &:not(.o--btn) {
        display: block;
        width: 100%;
        height: 36px;
        line-height: 1.42857143;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        transition: all 0.2s linear;
        @include rem(font-size, 0.95rem);

        &:not(select) {
          @include padding(6px 12px);
        }
      }

      &:focus {
        outline: none;
        border-width: 1px;
        border-style: solid;
      }

      & ~ *:not(.help-block) {
        cursor: pointer;
      }
    }

    select#{&}__input {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: 1px solid #C4CED8;
      @include padding(0 15px);

      &:hover {
        cursor: pointer;
      }
    }

    textarea#{&}__input {
      height: auto;
      min-height: 120px;
      @include max-screen(map-get($mq, 'md')) {
        @include margin(null null 15px null);
      }
    }

    #{&}__item {
      @include margin(null null 0 null);

      &--checkbox {
        .#{$class} {
          &__field {
            width: 5%;
          }
          &__label {
            width: 88%;
            @include margin(null 0);
          }
        }
      }
    }

    #{&}__upload {
      display: block;
      width: 100%;
      line-height: 1.42857143;
      line-height: 20px;
      height: 45px;
      @include clearfix();
      @include position(relative, 0);
      @include border-radius(3px);
      @include padding(10px 15px);
      @include max-screen(map-get($mq, 'md')) {
        @include margin(null null 8px null);
      }
      @include max-screen(map-get($mq, 'xs')) {
        height: auto;
        @include padding(0)
      }

      &:hover {
        cursor: pointer;
      }

      &--label {
        display: block;
        float: left;
        width: 20%;
        height: 45px;
        line-height: 25px;
        background: #596B84;
        color: #fff;
        text-shadow: none;
        text-align: center;

        @include position(absolute, -1px null null -1px);
        @include z('global', 'middle');
        @include padding(10px 30px);
        @include border-radius(4px 0 0 4px);
        @include max-screen(map-get($mq, 'sm')) {
          display: none;
        }
      }

      .#{$class}__fake-input {
        float: left;
        width: 70%;
        height: 45px;
        background-color: transparent !important;
        border: 1px solid;
        @include position(absolute, -1px null null 0);
        @include padding(null null null 21%);
        @include border-radius(3px);
        @include max-screen(map-get($mq, 'sm')) {
          width: 60%;
          @include padding(0);
        }
        @include max-screen(map-get($mq, 'xs')) {
          float: none;
          width: 100%;
          @include position(static, 0);
          @include margin(null null 15px null);
        }

        .o--text {
          display: block;
          height: 100%;
          font-size: 16px;
          line-height: 40px;
          @include padding(0 15px)
        }
      }

      .#{$class}__field {
        opacity: 0;
        float: left;
        width: 70%;
        height: 40px;
        background-color: transparent !important;
        @include position(absolute, 1px null null 1px);
        @include z('global', 'top');
        @include max-screen(map-get($mq, 'sm')) {
          width: 60%;
        }
      }

      .#{$class}__input {
        height: 40px;
        background-color: transparent !important;
        border-color: transparent !important;
        box-shadow: none !important;
        line-height: 1;
        opacity: 0;
        cursor: pointer;
        @include padding(10px);

        &:focus, &:active, &:hover {
          outline: none !important;
          box-shadow: none !important;
          border-color: transparent !important;
          cursor: pointer;
        }
      }

      .#{$class}__btn {
        float: right;
        width: 30%;
        @include position(absolute, -1px -1px null null);
        @include max-screen(map-get($mq, 'sm')) {
          width: 40%;
        }

        @include max-screen(map-get($mq, 'xs')) {
          float: none;
          width: 100%;
          @include position(static, 0);
        }

        &:hover {
          cursor: pointer;
        }

        .o--btn {
          height: 45px;
          @include border-radius(0 4px 4px 0);
          @include max-screen(map-get($mq, 'sm')) {
            @include margin(0);
          }
          @include max-screen(map-get($mq, 'xs')) {
            @include border-radius(4px);
          }
        }
      }
    }

    #{&}__fake-errors {
      @include margin(5px 0);
    }

    #{&}__label {
      line-height: 1.5em;
      vertical-align: middle;
      font-size: 16px;
      @include margin(0 0 5px 0);
      @include max-screen(map-get($mq, 'md')) {
        @include margin(null null 5px null);
      }

      label {
        font-size: 14px;
      }

      &--helper {
        line-height: 1.2em;
        @include margin(null null 10px null);

        label {
          line-height: 1em;
        }

        .#{$class}__helper {
          opacity: .65;
          line-height: 1em;
          font-size: 12px;
          @include max-screen(map-get($mq, 'md')) {
            @include margin(null null 10px null);
          }
        }
      }
    }

    #{&}__title {
      text-shadow: none;
      line-height: 1.8em;
      @include margin(null null 10px null);
      @include rem(font-size, 2.1rem);
    }

    #{&}__group {
      @include position(relative, 0);
    }

    #{&}__helper {
      display: block;
      font-weight: 600;
      @include margin(0);
    }

    .s--feedback {
      font-size: 15px;
      @include position(relative, 0 (15px !important) null null);

      .o--icon {
        display: none;
        @include z(top, top);
      }

      @at-root {
        #{&}--error,
        #{&}--warning,
        #{&}--success {
          .#{$class}__input {
            @include padding(null 36px null null);
          }

          select.#{$class}__input {
            @include padding(null 60px null null);
          }

          .o--icon {
            display: block;
            font-size: 16px;
            @include position(absolute, 6px 15px null null);
            @include margin(0);
            @include padding(0);

            &:before {
              font-family: 'themify';
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              line-height: 1;
              //speak: none;

              // Better Font Rendering
              @include font-smoothing();
            }
          }
        }

        #{&}--error, #{&}--warning {
          .o--icon:before {
            content: "\e6c5";
          }
        }

        #{&}--success {
          .o--icon:before {
            content: "\e64c";
          }
        }
      }
    }

    #{&}__field {
      @include position(relative);
      @include margin(0 0 15px 0);

      &--datepicker {
        .input-group {
          &.date {
            display: block;

            input {
              width: calc(100% - 32px);
              float: left;
            }

            .input-group-addon {
              max-width: 30px;
              @include padding(9px);
            }
          }
        }
      }

      .input-group-addon {
        color: #9BA4AD;
        background-color: #F9FBFD;
        border-color: #C4CED8;
      }

      .s--highlight {
        border-color: #A9C2D2 !important;
        color: #0081D4 !important;
        background: #F9FCFF !important;
      }

      .errors {
        display: block;
        list-style: none;
        @include margin(7px 0 0 0);
        @include padding(0);
      }

      .help-block {
        line-height: 1.4em;
      }

      &.o--col {
        .#{$class}__icon-select {
          right: 16px;
        }

        .o--icon {
          right: 31px;
        }
      }
    }

    #{&}__errors {
      text-align: center;
      border: 1px solid;
      @include margin(null null 20px null);
      @include padding(8px);
      @include border-radius(4px);
      @include rem(font-size, 1.6rem);

      &:empty {
        display: none;
      }

      ul {
        list-style: none;
        @include margin(0);
        @include padding(0);
      }

      li {
        @include margin(3px 0);
      }
    }

    #{&}__btn {
      @include margin(null null 5px null);

      .o--btn {
        display: block;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 1px;
        text-align: center;
        @include font(map-get($fonts, 'secondary'), 0.95rem);
        @include max-screen(map-get($mq, 'sm')) {
          width: 100% !important;
          @include margin(0);
        }

        &:hover {
          text-decoration: none;
        }
      }

      & + & {
        @include margin(15px null null null);
      }
    }

    #{&}__header {
      background: #fafbfc;
      @include padding(15px);

      h1, h2, h3, h4, h5, h6 {
        @include margin(0 null null null);
      }
    }

    #{&}__icon-select {
      width: 30px;
      height: 100%;
      max-height: 34px;
      color: #0081D4;
      border-left: 1px solid #C4CED8;
      background: #F9FBFD;
      @include position(absolute, 1px 1px null null);
      @include z(top, top);
      @include padding(7px);
      @include border-radius(0 4px 4px 0);

      &:before {
        display: block;
        content: ' ';
        width: 45px;
        height: 34px;
        @include position(absolute, 0 null null -46px);
        @include linear-gradient(to right, transparent, #fff);
      }

      &:after {
        display: block;
        clear: left;
        content: ' ';
        width: 0;
        height: 0;
        border-color: #9BA4AD transparent transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        @include position(absolute, 50% 10px auto auto);
        @include margin(-3px null null null);
      }

      &:hover:after {
        color: #0081D4;
      }

      & + .o--icon {
        padding-right: 20px !important;
      }

      [class*="g--"] {
        font-weight: bold;
      }
    }
  }
}

