//------------------------------------
//  $Img
//------------------------------------

$name: 'img';
$prefix: map-get($class-prefix, 'object');
$root: #{$prefix}#{$name};

.#{$root} {
  @at-root {
    &--responsive {
      width: 100% !important;
    }

    &--cover {
      width: 100%;
      height: 100%;
      @include position(relative);

      &__child {
        width: 100%;
        height: 100%;
        display: block;
        background-position: top;
        background-size: cover;
      }
    }
  }
}