//------------------------------------
//  $Loader
//------------------------------------

$name: 'loader';
$prefix: map-get($class-prefix, 'object');
$root: #{$prefix}#{$name};

.#{$root} {
	display: none;
	@include padding(20px null);
}
