//------------------------------------
//  $Text
//------------------------------------

$name: 'text';
$prefix: map-get($class-prefix, 'object');
$root: #{$prefix}#{$name};

.#{$root} {

  @at-root {
    // text--position
    //------------------------------------
    #{&}--left {
      text-align: left !important;
    }

    #{&}--right {
      text-align: right !important;
    }

    #{&}--center {
      text-align: center !important;
    }

    #{&}--justify {
      text-align: justify !important;
    }

    // text--decoration
    //------------------------------------
    #{&}--antialiased {
      @include font-smoothing();
    }

    #{&}--ellipsis {
      line-height: 1.5;
      max-height: 3em;
      overflow: hidden;
      @include position(relative, 0 null null 0);

      &__dots {
        background: #fff;
        @include position(absolute, null 0 0 null)
      }

      &__fill {
        height: 100%;
        width: 100%;
        background: #fff;
        @include position(absolute, 0 null null 0);
      }
    }

    // sizes
    //------------------------------------
    #{&}--xxs {
      font-size: map-get($text, 'xxs');
    }

    #{&}--xs {
      font-size: map-get($text, 'xs');
    }

    #{&}--sm {
      font-size: map-get($text, 'sm');
    }

    #{&}--md {
      font-size: map-get($text, 'md');
    }

    #{&}--lg {
      font-size: map-get($text, 'lg');
    }

    #{&}--xl {
      font-size: map-get($text, 'xl');
    }
  }
}