//------------------------------------
//  modules.modal
//------------------------------------

$name: 'modal';
//------------------------------------

.#{$name} {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	width: auto;
	max-width: 800px;
	margin: 30px auto;
	padding: 0;
	border: none;
	border-radius: .25em;

	.form {
		border: none;
		padding: 0;
	}

	.heading__subtitle {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 1.3;
		text-align: center;
		@include max-screen(map-get($mq, 'md')) {
			margin-bottom: 10px;
		}
	}

	.form__btn + .form__btn {
		margin-top: 0;
	}
}


.#{$name}__header {
	margin: 0;
	padding: 10px 20px;
	border-bottom: 1px solid;
	border-radius: 4px 4px 0 0;

	> * {
		margin: 0;
		padding: 0;
		line-height: 1.2;
		@include font(map-get($fonts, 'primary'), 24px, null, bold);
		@include max-screen(map-get($mq, 'md')) {
			font-size: 17px;
		}
	}
}

.#{$name}__content {
	padding: 4% 2.5%;
	border-radius: .25em;

	.form__item:last-child {
		margin-bottom: 0 !important;
	}

	@include max-screen(map-get($mq, 'sm')) {
		.divider {
			margin: 0;
		}
	}
}

