//------------------------------------
//  modules.places
//------------------------------------


$name: 'places';
//------------------------------------

.#{$name} {
	.weather {
		padding: 10px;
	}

	.flex--center {
		@include max-screen(map-get($mq, md)) {
			display: block;
		}
	}
}

.#{$name}__title {
	text-transform: initial;
	margin-bottom: 10px;
}

.#{$name}__city {
	text-transform: capitalize;
	margin-top: 0;
	margin-bottom: 10px;
	color: #1B75BB;
	font-weight: 500;
}

.#{$name}__desc {
	margin-bottom: 15px;
}
