//------------------------------------
//  modules.wrap
//------------------------------------


$name: 'wrap';
//------------------------------------

.#{$name} {
	display: block;
	width: map-get($layout, 'width');
	min-width: map-get($layout, 'min-width');
	height: auto;
	border: none !important;
	overflow-x: hidden;
}
