//------------------------------------
//  $Icon
//------------------------------------

$name: 'icon';
$prefix: map-get($class-prefix, 'object');
$root: #{$prefix}#{$name};

.#{$root} {
	display: inline-block;
	font-size: 64px;

	@at-root {

		#{&}--xxs {
			font-size: map-get($text, xxs);
		}

		#{&}--xs {
			font-size: map-get($text, xs);
		}

		#{&}--sm {
			font-size: map-get($text, sm);
		}

		#{&}--md {
			font-size: map-get($text, md);
		}

		#{&}--lg {
			font-size: map-get($text, lg);
		}

		#{&}--xl {
			font-size: map-get($text, xl);
		}

		#{&}--circle {
			border: 1px solid rgba(white, .5);
			@include border-radius(50%);
			@include padding(12%);
		}
	}
}
