//------------------------------------
//  $Nav
//------------------------------------

$name: 'nav';
$prefix: map-get($class-prefix, 'component');
$class: #{$prefix}#{$name};

.#{$class} {
  @include clearfix();
  @include margin(0 auto);
  @include padding(0);

  @at-root {
    #{&}__item {
      display: inline-block;
      @include margin(0);

      a {
        display: block;
        line-height: 20px;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1px;
        @include position(relative, 0);
        @include padding(20px 15px);
        @include font(map-get($fonts, 'secondary'), 12px);

        &:hover {
          background-color: #f9f9f9;
          text-decoration: none;
        }

        &:focus {
          text-decoration: none;
        }
      }
    }

    #{&}--tabs {
      text-align: center;

      .#{$class}__item {
        a {
          @include position(relative, 0);
          @include padding(null 20px);

          &:before {
            display: block;
            content: " ";
            @include position(absolute, 50px null null 50%);
            @include margin(null null null -15px);
          }

          @include max-screen(map-get($mq, 'md')) {
            font-size: 10px;
            @include padding(null 10%);
          }
        }

        &.s--active {
          a {
            &:before {
              @include triangle(15px, white, 'up');
            }
          }
        }

        &.s--disabled {
          opacity: 0.2;
        }
      }
    }
  }
}