//------------------------------------
//  $Content
//------------------------------------

$name: 'content';
$prefix: map-get($class-prefix, 'module');
$root: #{$prefix}#{$name};

.#{$root} {
	@at-root {
		#{&}__inner {
			@include padding(0 20px);
		}
	}
}