//------------------------------------
//  $Content
//------------------------------------

$name: 'content';
$prefix: map-get($class-prefix, 'module');
$class: #{$prefix}#{$name};

.#{$class} {

  @at-root {
    #{&}__inner {
      @include padding(0 20px);
    }
  }
}