//------------------------------------
//  $Font
//------------------------------------

$name: 'font';
$prefix: map-get($class-prefix, 'utils');
$class: #{$prefix}#{$name};

.#{$class} {
  @at-root {
    #{&}--smoothing--on {
      @include font-smoothing(on);
    }

    #{&}--smoothing--off {
      @include font-smoothing(off);
    }
  }
}