//------------------------------------
//  $Framed
//------------------------------------

$name: 'framed';
$prefix: map-get($class-prefix, 'utils');
$root: #{$prefix}#{$name};

.#{$root} {
  display: block;
  border: 3px solid white;
  transition: box-shadow 200ms ease;

  &.circle {
    @include padding(0);
  }

  &.shadow {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.08), 0 1px 5px rgba(0, 0, 0, 0.15) !important;
  }

  &.shadow-out {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04) !important;
  }

  &.active {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 0 1px #2b96f1, 0 1px 5px rgba(43, 150, 241, 0.5) !important;
  }

  .panel {
    box-shadow: none;
  }

  &--xs {
    border-width: 2px;
  }

  &--sm {
    border-width: 3px;
  }

  &--md {
    border-width: 6px;
  }

  &--lg {
    border-width: 9px;
  }

  &--xlg {
    border-width: 11px;
  }
}

a[class*="framed"]:hover {
  box-shadow: inset 0 0 0 1px transparent, 0 0 0 1px $color_tree_poppy, 0 1px 5px rgba(255, 147, 81, 0.51) !important;
}