//------------------------------------
//  $Invisible
//------------------------------------

$name: 'invisible';
$prefix: map-get($class-prefix, 'utils');
$root: #{$prefix}#{$name};

@include generate-visibility($name, $root);
