//------------------------------------
//    $Reset
//------------------------------------

$name: 'reset';
$prefix: map-get($class-prefix, 'utils');
$root: #{$prefix}#{$name};

.#{$root} {
	&:before {
		content: "";
		display: table;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
