//------------------------------------
//  utils.ellipsis
//------------------------------------

$name: 'ellipsis';
//------------------------------------

.#{$name} {
	line-height: 1.5;
	max-height: 12.4em;
	overflow: hidden;
	position: relative;
	top: 0;
	left: 0;
}

.#{$name}__dots {
	position: absolute;
	right: 0;
	bottom: 0;
	background: #FFFFFF;
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}

.#{$name}__fill {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #FFFFFF;
}
