//------------------------------------
//    $No
//------------------------------------

$name: 'no';
$prefix: map-get($class-prefix, 'utils');
$root: #{$prefix}#{$name};

.#{$root} {
	@at-root {
		#{&}--fill {
			background: transparent !important;
			text-shadow: none !important;

			> * {
				background: transparent !important;
				text-shadow: none !important;
			}
		}

		#{&}--border {
			border: none !important;

			&:hover {
				border: none !important;
			}
		}
	}
}
