//------------------------------------
//    utils.reset
//------------------------------------

$name: 'reset';
//------------------------------------

.#{$name} {
	&:before {
		content: "";
		display: table;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
