//------------------------------------
//  $Show
//------------------------------------

$name: 'show';
$prefix: map-get($class-prefix, 'utils');
$root: #{$prefix}#{$name};

@include generate-display($name, $root);