//------------------------------------
//  $Map
//------------------------------------

$name: 'map';
$prefix: map-get($class-prefix, 'component');
$class: #{$prefix}#{$name};

.#{$class} {
  .map {
    @include max-screen(map-get($mq, sm)) {
      height: 200px;
    }
    @include max-screen(map-get($mq, md)) {
      height: 260px;
    }
    @include min-screen(map-get($mq, md)) {
      height: 550px;
    }
  }
}