//------------------------------------
//  $Weather
//------------------------------------

$name: 'weather';
$prefix: map-get($class-prefix, 'component');
$class: #{$prefix}#{$name};

.#{$class} {
  background-color: #f4fafe;
  border: 1px solid #daf0fb;
  border-radius: 5px;
  @include padding(37px 20px);

  &__icon {
    display: inline-block;
    overflow: hidden;
    zoom: 0.5;
    -moz-transform: scale(0.5);
    -moz-transform-origin: 0 0;

    &--huge {
      zoom: 1;
      -moz-transform: scale(1);
      -moz-transform-origin: 0 0;
    }

    &--big {
      zoom: 0.60;
      -moz-transform: scale(0.60);
      -moz-transform-origin: 0 0;
    }

    &--small {
      zoom: 0.29;
      -moz-transform: scale(0.29);
      -moz-transform-origin: 0 0;
    }
  }

  @at-root {

    #{&}__item {
      text-align: left;
      background-repeat: no-repeat;
    }

    #{&}__city {
      text-transform: uppercase;
    }

    #{&}__temp {
      font-size: 2.8em;
      font-weight: bold;
      margin: 10px 0;
    }

    #{&}__desc,
    #{&}__city,
    #{&}__day {
      font-weight: bold;
    }

    #{&}__desc {
      margin-bottom: 0.4em;
    }

    #{&}__range,
    #{&}__wind,
    #{&}__link {
      font-size: 12px;
      display: inline-block;
      margin-right: 10px;
    }

    #{&}__link {
      margin-bottom: 0.5em;
      text-align: left;

      a {
        display: block;
        clear: both;
        padding-top: 10px;
      }
    }

    #{&}__forecast {
      float: right;
      width: 48%;

      &--item {
        padding: 10px 10px 10px 80px;
        background-position: left center;
        width: 100%;
        font-size: 12px;
        display: inline-block;
        text-align: left;
        margin-right: 10px;
        margin-bottom: 0.5em;
        border: 1px solid #ededed;
        background-color: #fff;

        @include max-screen(map-get($mq, md)) {
          padding: 10px 10px 10px 72px;
        }
      }

      &--day {
        font-size: 14px;
        display: inline;
        margin-right: 5px;
      }

      &__date,
      &__text,
      &__range {
        display: inline;
        margin-right: 15px;
      }

      &__range {
        @include max-screen(map-get($mq, sm)) {
          display: block;
        }
      }

      @include max-screen(map-get($mq, sm)) {
        #{&}__item &--odd,
        #{&}__forecast {
          float: none;
          width: 100%;
        }
      }
    }

    #{&}--even {
      background-color: #d4d4e8;
    }
  }
}

