//------------------------------------
//  $Places
//------------------------------------

$name: 'places';
$prefix: map-get($class-prefix, 'module');
$class: #{$prefix}#{$name};

.#{$class} {

  // Elements
  // ----------

  #{&}__item {

  }

  #{&}__content {

  }

  #{&}__title {
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  #{&}__city {
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 10px;
    color: #1B75BB;
  }

  #{&}__desc {
    max-height: 5.2em;
    @include min-screen(map-get($mq, md)){
      min-height: 84px;
    }
  }

  // Modifiers
  // ----------

  #{&}--cards {

  }

  #{&}--list {

  }

  .c--weather {
    padding: 10px;
  }

  .o--flex--center {
    @include max-screen(map-get($mq, md)) {
      display: block;
    }
  }
}