//------------------------------------
//  $Navbar
//------------------------------------

$name: 'navbar';
$prefix: map-get($class-prefix, 'module');
$class: #{$prefix}#{$name};

.#{$class} {
  display: block;
  width: 100%;
  text-align: center;
  border-bottom: 0;
  @include position(relative, 0);
  @include z('top', 'middle');
  @include clearfix();
  @include margin(null null 0 null null);
  @include padding(0 15px);
  @include max-screen(map-get($mq, 'md')) {
    @include padding(0);
  }

  &:before {
    display: none;
    content: " ";
    width: 100%;
    height: 3px;
    @include position(absolute, 0 0 null null);
    @include z('global', 'top');
  }

  ul {
    list-style: none;
    @include margin(0);
  }

  @at-root {
    #{&}__brand {
      @include margin(0);
      @include padding(0);
      @include clearfix();
      @include max-screen(map-get($mq, 'md')) {
        @include padding(null null null 50px);
      }

      .o--brand {
        @include margin(0);
        @include padding(0);
        @include max-screen(map-get($mq, 'md')) {
          float: none;
          @include margin(0 auto);
        }
      }
    }
  }

  &:not(.s--is-logged) {
    @include min-screen(map-get($mq, 'xxs')) {
      .#{$class} {
        &__toggle {
          display: none;
        }

        &__brand {
          width: 100% !important;
          @include margin(0 auto);
          @include padding(0);

          .o--brand {
            float: none;
            @include margin(0 auto);
          }
        }
      }
    }
  }
}