//------------------------------------
//  $Container
//------------------------------------

$name: 'container';
$prefix: map-get($class-prefix, 'object');
$class: #{$prefix}#{$name};

.#{$class} {
  max-width: map-get($layout, 'max-width');
  @include margin(0 auto);
  @include padding(0 15px);
}