//------------------------------------
//  $Img
//------------------------------------

$name: 'img';
$prefix: map-get($class-prefix, 'object');
$class: #{$prefix}#{$name};

.#{$class} {
  @at-root {
    &--responsive{
      width: 100% !important;
    }
  }
}