//------------------------------------
//	Base
//------------------------------------

html, body {
	font-size: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus {
	outline: none;
}

body {
	line-height: 1.42857143;
	cursor: auto;
	@include position(relative, 0);
	@include z-index('z-index', '0');
	@include margin(0);
	@include padding(0);
	@include font(map-get($fonts, 'primary'), null);
}

a {
	text-decoration: none;
	cursor: pointer;
	transition: all 0.1s ease-in;

	&:hover {
		cursor: pointer;
		text-decoration: none;
	}

	&:hover, &:active, &:focus {
		outline: 0;
		text-decoration: none;
	}

	&:before, &:after {
		transition: all 0.1s ease-in;
	}

	img {
		border: none;
	}
}

img {
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
	display: inline-block;
	vertical-align: middle;
}

ul,
ol,
dl {
	@include margin(0);
}

nav {
	list-style: none;
	@include padding(null null null 0);
	@include margin(null null 0 null);
}

form {
	width: 100%;
}